#home {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
    align-items: center;
  }
  .item {
      margin: 0 10px
  }
  #options {
      display:flex;
      flex-direction:column;
  }

  #grid {
      border-style: solid;
      border-color: black;
  }

  #TouchableOpacity {
    border-style: solid;
    border-color: black;
  }

